{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                {% trans "Password reset success" as tmsg %}{{ tmsg | force_escape }}
            </h1>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                   {% blocktrans %}Hello {{ name }},{% endblocktrans %}
                {% endfilter %}
            </p>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                {% blocktrans %}Esto es para confirmar que ha cambiado exitosamente su contraseña asociada con {{ platform_name }} cuenta. Inicie sesión en su cuenta.{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>

                {% filter force_escape %}
                {% blocktrans asvar course_cta_text %}Iniciar sesión{% endblocktrans %}
                {% endfilter %}
                {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_cta_text course_cta_url=login_link %}
        </td>
    </tr>
</table>
{% endblock %}

