{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                {% trans "Password reset" as tmsg %}{{ tmsg | force_escape }}
            </h1>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                {% blocktrans %}Estás recibiendo este correo electrónico porque solicitaste un restablecimiento de contraseña para tu cuenta de usuario en {{ platform_name }}.{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>

            {% if failed %}
                <p style="color: rgba(0,0,0,.75);">
                    {% filter force_escape %}
                    {% blocktrans %}Sin embargo, actualmente no hay ninguna cuenta de usuario asociada a su dirección de correo electrónico: {{ email_address }}.{% endblocktrans %}
                    {% endfilter %}
                    <br />
                </p>

                <p style="color: rgba(0,0,0,.75);">
                    {% trans "Si no solicitó este cambio, puede ignorar este correo electrónico." as tmsg %}{{ tmsg | force_escape }}
                    <br />
                </p>
            {% else %}
                <p style="color: rgba(0,0,0,.75);">
                    {% trans "Si no solicitó este cambio, puede ignorar este correo electrónico: aún no hemos restablecido su contraseña." as tmsg %}{{ tmsg | force_escape }}
                    <br />
                </p>
                {# xss-lint: disable=django-trans-missing-escape #}
                {% trans "Reset my password" as course_cta_text %}

                {# email client support for style sheets is pretty spotty, so we have to inline all of these styles #}
                {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_cta_text reset_url=reset_link %}
            {% endif %}
        </td>
    </tr>
</table>
{% endblock %}

