{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                {% filter force_escape %}
                {% blocktrans %}Email Change Confirmation for {{ platform_name }}{% endblocktrans %}
                {% endfilter %}
            </h1>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                {% blocktrans %}Esto es para confirmar que usted cambió el correo electrónico asociado con {{ platform_name }} de {{ old_email }} a {{ new_email }}. Si no ha realizado esta solicitud, póngase en contacto con nosotros de inmediato. La información de contacto se encuentra en:{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>

            <a href="{{ contact_link }}">{{ contact_link }}</a>

            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                {% blocktrans %}Mantenemos un registro de correos electrónicos antiguos, por lo que si esta solicitud fue involuntaria, podemos investigar.{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>

        </td>
    </tr>
</table>
{% endblock %}

